<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
          Estudiantes
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
      <ion-item>
          <ion-label position="floating">Año</ion-label>
          <ion-input [(ngModel)]="year" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">1 era Nota del estudiante</ion-label>
          <ion-input [(ngModel)]="studentOne" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">2da Nota del estudiante</ion-label>
          <ion-input [(ngModel)]="studentTwo" type="text"></ion-input>
      </ion-item>
      <ion-row>
          <ion-col>
              <ion-button type="button" (click)="addStudents()" color="dark" shape="full" expand="block">
                  Agregar estudiante
              </ion-button>
          </ion-col>
      </ion-row>
  </ion-list>
  
  <ion-list>
     <ion-list-header>
        Lista de estudiantes
      </ion-list-header>
 
      <ion-item lines="inset" *ngFor="let student of students">
         <ion-label>
           <h5>{{student.year}} - ({{student.studentOne}}, {{student.studentTwo}})</h5>
         </ion-label>
         <div class="item-note">
            <ion-icon name="create" style="zoom: 2.0;" [routerLink]="['/update-student/' ,student.id]" routerLinkActivate="update-student"></ion-icon>
            <ion-icon name="trash" style="zoom: 2.0;" (click)="deleteStudent(student.id)"></ion-icon>
         </div>
      </ion-item>
  </ion-list>
</ion-content>
