<ion-header>
  <ion-toolbar>
    <ion-title>Editar estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list lines="full">
  <ion-item>
          <ion-label position="floating">Año</ion-label>
          <ion-input [(ngModel)]="year" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">1era Nota del estudiante</ion-label>
          <ion-input [(ngModel)]="studentOne" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">2da Nota del estudiante</ion-label>
          <ion-input [(ngModel)]="studentTwo" type="text"></ion-input>
      </ion-item>
      <ion-row>
          <ion-col>
              <ion-button type="button" (click)="updateStudent()" color="dark" shape="full" expand="block">
                  Editar estudiante
              </ion-button>
          </ion-col>
      </ion-row>
</ion-list>
</ion-content>
